body {
  color: #555555;
  margin: 0;
  font-family: 'Tisa', sans-serif;
}

#header {
  background-color: #93a35f;
  height: 150px;
  line-height: 150px;
}

#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: indigo;
}

#header-title {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0px;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container1 {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

#footer {
  background-color: #2f2f2f;
  padding: 50px 50px;
}

#column1 {
  margin-right: 150px;
}

#column2 {
  margin-left: 150px;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #f6a623
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
}

.post-author span {
  margin-left: 16px;
}

.post-date {
  color: #6d6e6f;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333333;
}

p {
  line-height: 1.5;
}

.about {
  text-align: center;
}

.about-author img {
  height: 420px;
  width: 666px;
}

.post-container:nth-child(even) {
  background-color: #f2f2f2;
}